%p Please enter your params:
%form{method: "POST"}
  %fieldset
    %div
      %label Uid:
      %input{type: 'text', name: 'uid'}
    %div
      %label Pub0:
      %input{type: 'text', name: 'pub0'}
    %div
      %label Page:
      %input{type: 'text', name: 'page'}
    %div
      %input{type: 'submit', value: 'Send'}
