- if @offers.empty? 
  %div.no_offers
    No offers
- else
  - @offers.each do |offer|
    %div.offer
      %div.title= offer['title']
      %div.payout= offer['payout']
      %div.thumbnail= offer['thumbnail']['lowres']

